html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

div#container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#serverLogin {
    display: grid;
    grid-template-columns: calc(100vw - 50px) 50px;
}

#repoSelection {
    display: grid;
    grid-template-columns: calc(100vw - 50px) 50px;
}